.film-detail {
  margin: 20px;
  display: flex;
}
.film-detail img {
  width: 250px;
  border-radius: 5px;
}
.info {
  margin-left: 10%;
  margin-top: 25px;
}
.title {
  color: #199d17;
  font-weight: 300;
  font-size: 1.875rem;
  padding-bottom: 20px;
}
.year,
.nation {
  color: #b5e745;
}
.des {
  max-width: 650px;
  margin-top: 20px;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  opacity: 0.7;
}
