.tabname .tab-text {
  justify-content: center;
  color: rgb(9, 131, 7);
}

.tabname .tab-text:focus {
  outline: none;
}

.tabname .tab-text a {
  text-decoration: none;
}
.tabname .tab-text:hover {
  background-color: rgb(156, 244, 148);
}
.css-heg063-MuiTabs-flexContainer {
  justify-content: center;
}

.dark .tab-text {
  color: white; /* Màu chữ khi ở chế độ tối */
}
